# Introduction to Python, part 1

This Notebook is a combination of parts of the Notebooks from [**Arpit Omprakash, Byte Sized Code**](https://github.com/arpit-omprakash/Byte-Sized-Code/blob/master/Python-Notebooks/1.Basic%20Python%20Syntax.ipynb) and the [**XML workshop**](https://kbnlresearch.github.io/xml-workshop/intro.html).

To make sure that the Notebook works properly, please make sure you run all the code cells you encounter.

## What is Python?
Python was developed in 1991 by Guido van Rossum. The purpose of Python was to create a programming language that is both simple to understand and readable. Python works on different platforms such as Windows, Mac, Linux, etc. It is a very popular programming language in data analysis and data science because of its versatality. Python is open source, and can therefore be used for free.

## Basic Python Syntax

### Basic Data Types 

While programming, we work with data, and data comes in all kinds of flavours and *types*.  
There are a few basic data types in python that are used to store and manipulate any kind of data that we want to work with.

Python supports the following basic (a.k.a primitive) data types:  
- string:
  - used to store characters
  - always enclosed in quote marks (" or ')
  - denoted as `str`
- integer:
  - used to store integers (numbers without a fractional part)
  - can be positive or negative
  - denoted as `int`
- float:
  - used to store real numbers
  - denoted by `float`
- boolean:
  - used to store a True/False value
  - denoted by `bool`
  
We use the inbuilt `print` function to display the output. 

We can use the built-in `type` function (more on functions later) to get the datatype of a given chunk of data.

In [1]:
print(type("name"))

<class 'str'>

In [2]:
print(type(2))

<class 'int'>

In [3]:
print(type(8.3))

<class 'float'>

In [4]:
print(type(True))

<class 'bool'>

### Operators

Now that we know how to store data using the appropriate types, we would eventually like to manipulate the data.  
Python provides many operators that can be used to manipulate data.  
Here are the most commonly used operators in python:

\"+"  addition operator
- used to add two values

In [5]:
print(2 + 4)

6

"/" division operator
- used to divide one value by the other

In [6]:
print(3.0 / 2.0)

1.5

"\*" multiplication operator
- used to multiply two values

In [7]:
print(10 * 2)

20

"-" subtraction operator
- used to subtract one value from another

In [8]:
print(3 - 1)

2

**Operators and strings**

A few operators can also be used with strings.  
- the addition operator concatenates two strings to form a bigger string
- the multiplication operator repeats a string n times (where n is the other operant)

In [9]:
print("hello " + "world")

hello world

In [10]:
print("hello" * 3)

hellohellohello

**NOTE:** It should be noted that operators only work with the same data type. For example, we cannot add an integer to a string.

In [11]:
print("hello " + 2)

TypeError: can only concatenate str (not "int") to str

### Type conversions

As mentioned above, we cannot mix data types while operating on them. This is a half truth.  
We can mix some operators to a certain level. For example:

In [12]:
print(2 + 2.0)

4.0

Here we added an integer to a float and we didn't get an error!  

What happened here you ask?  
Something called an **implicit type conversion**.  
As floats can also contain integer values, Python converts the integer data type to a float data type before carrying out the addition. This can be noted from the fact that the result of the operation is a float.

In [13]:
result = 2 + 2.0
print(type(result))

<class 'float'>

However, for some data types, Python does not allow implicit conversion.  
We can however still convert the data (if need arises) by an **explicit type conversion** syntax/function.  
This can be seen in the following example.

In [14]:
print("number " + 23)

TypeError: can only concatenate str (not "int") to str

In [15]:
print("number " + str(23))

number 23

The `str` function converts a given data type to string data type.

### Variables

It is very likely that any program that you will write will have some values that will change over time or even over the course of your whole program (or script).  
We can store such values in variables.  
You can think of variables as containers to store data.
Variables can contain things like numbers, dates, text, but also lists and dataframes. 

Values are *assigned* to variables via an assignment operator (like =).

In the following example, we have created two variables called `length` and `breadth`.  
We can store different values in the variables and then later use them to carry out other functions or operations without even knowing what exact value the variable contains!

In [16]:
length = 10
breadth = 20
area = length * breadth
print(area)

200

Now lets change the value of the `breadth` variable and calculate the area again.

In [17]:
breadth = 10
area = length * breadth
print(area)

100

**NOTE: Variable Nomenclature**

The name of a variable is up to your own discretion, although there are certain restrictions that are applied:  
- we can't use keywords or built-in function names as variable names, e.g., `print`, `int` and `str` are not valid variable names.
- variable names can't contain spaces, e.g., `new variable` is not valid
- variable names should start with letters or underscores, e.g., `my_var` or `_var` are valid
- variable names can contain only numbers, letters, or underscores, e.g., `_my_var_1` is a valid name

**NOTE: Correct variable types**
When creating a variable, it is important to input data correctly: for numbers no quotation marks are used, for text quotation marks must be used! If you add quotation marks to a number, Python sees this as a string.

In [21]:
# This stores the data in the variable
not_a_number = "9"
# This determines its type
type(not_a_number)

str

**Excercise**

Create two variables: `item_price` and `amount`. 

Store the number 5 in the variable `item_price`. <br>
Store the number 3 in the variable `amount`. 

Now use these variables to calculate the total price by multiplying them. Make sure that the total price is stored in a variable called `total_price`. <br>
Print the content of the variable `total_price`.

In [2]:
### Write the exercise code below and run the cell

### Comparators

In python we use what are called comparators to compare data.  
The following comparators are generally used in python:
- \> to check if the left hand side is **greater than** the right hand side
- \< to check if the left hand side is **lesser than** the right hand side
- \>= to check if the left hand side is **greater than or equal** to the right hand side
- \<= to check if the left hand side is **lesser than or equal** to the right hand side
- == to check if the left hand side is **equal** to the right hand side
- != to check if the left hand side is **not equal** to the right hand side

The comparators return a boolean value (True/False) indicating if the expression is valid or not.

In [5]:
print(18 < 10)

False

In [6]:
print(10 > 1)

True

In [7]:
print((10/2) == 5)

True

In [8]:
print(1 != 2)

True

In [9]:
print(1.0 <= 1.1)

True

In [10]:
print(2.0 >= 3.0)

False

The above examples were quite simple and basically used numbers (integers or floats).  
We can also use some comparators with strings to check if they are greater than or less than other strings. In the context of strings, a string is said to be less than another one if it comes first in the dictionary and vice versa.

In [23]:
print("AA" < "AB")

True

We can't use the less than and greater than comparators between strings and numbers.

In [11]:
print(1 < "10")

TypeError: '<' not supported between instances of 'int' and 'str'

We can also use the equal and not equal comparators between two strings, and a string and number. The latter case will always return False as a string can never be equal to a number data type in python.

In [12]:
print("cat" == "cat")

True

In [13]:
print("cat" != "dog")

True

In [14]:
print(1 == "1")

False

The comparators also work on information stored in variables.

**Excercise**

The normal price of a product is 39.99. 

The sales price is 29.99. 

Store both prices in two seperate variables and use a comparator to check if the sales prices is lower than the normal price.

In [54]:
### Write the exercise code below and run the cell

### Logical operators

We can use logical operators to combine simple expressions into complex expressions.  
There are three basic logical operators:
- `and` or `&`: returns true if both the expressions are valid
- `or`: returns true if at least one expression is valid
- `not`: returns true if the expression is invalid and false if it is valid

In [3]:
print(1 == 10 and 2 != 3)

False

In [4]:
print(1 == 10 & 2 != 3)

False

In [7]:
print(1 == 10 or 2 != 3)

True

In [6]:
print(not 42 == 42)

False

### Output

As you have already seen, executing code can produce output. In Jupyter Notebooks the output is presented within an output cell. Errors will be printed here too. Not all code will produce output, so don’t be alarmed.

Output should generally be created by printing using:

In [ ]:
print("whatever you wish to print")

Text must be put between quotes or Python will assume you wish to print variables.

Variables can be printed the same way as text, but must not have quotation marks.

In [27]:
print_me = "I was printed with the print function"
print(print_me)

I was printed with the print function

As you can see, this prints the contents of the variable to the output cell.

However, using Jupyter Notebooks there is also another way to create output. The last line of a cell will always create output, if there is any output to create.

To demonstrate this, let’s reuse some of our variabeles.

In [31]:
area
print_me
not_a_number

'9'

As you can see, only the content of variable in the last line (not_a_number) is printed

These two ways of printing output are not completely the same. Printing using the `print()` function removes some of the layout that Jupyter creates for you. This is very noticable when printing tables (which we call ‘Dataframes’).

We will give an example of this in the Pandas Notebook.

Please continue to the next Notebook for slightly more advanced Python syntax!